:root {
	--BG-COLOR: #fff7ed;
	--CTA-COLOR: #ff8c38;
	--FONT-COLOR-BLACK: #161616;
	--LINK-COLOR-GRAY: #4d4d4d;
	--FOOTER-BG-COLOR: #252525;
	--FOOTER-COLOR: #aaaaaa;
	--CTA-LT-ORANGE: #ffcc8d;
	--BORDER-LT-GRAY: #d1d5db;
	--FILTER-LT-CREAM: #ffead0;
	--FILTER-ORANGE: #e17654;
	--FILTER-LUXURY: #161616;
	--FILTER-RUGGED: #115e59;
	/* general color */
	--BLACK: #000;
	--WHITE: #fff;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	/* border: 1px solid; */
	margin: 0 auto;
	max-width: 128rem;
	/* padding: 2rem; */
	font-family: "Inter", sans-serif;
}

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 96rem;
	height: 100vh;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 2rem;
	padding: 1rem;
}

.sub-header-one {
	display: flex;
	justify-content: space-between;
}

.sub-header-one a {
	text-decoration: none;
}

.sub-header-two ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

/* Header */
.header {
	/* background: var(--); */
	border-bottom: 1px solid var(--BORDER-LT-GRAY);
}

.header-logo {
	color: var(--CTA-COLOR);
}

.nav ul li a {
	text-decoration: none;
	color: var(--LINK-COLOR-GRAY);
}

.nav ul li a:hover {
	text-decoration: underline;
	color: var(--FOOTER-BG-COLOR);
}

.active {
	font-weight: 600;
}

.header svg {
	min-width: 2.4rem;
}

/* search page */
.search-wrapper,
.docs-wrapper,
.members-wrapper {
	padding: 2rem;
	width: 100%;
	overflow-y: scroll;
}

.search-wrapper {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}


.footer {
	margin-top: auto;
	display: flex;
	width: 100%;
	row-gap: 2rem;
	padding: 1rem;
	justify-content: space-between;
	border-top: 1px solid var(--BORDER-LT-GRAY);
	gap: 2rem;
}

.btn {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.input-search-docs {
	flex: 0 0 60%;
	flex-grow: 1;
	padding: 0 1rem;
	border: none;
	outline: none;
}

/* stop ugly scroll bar on some browsers */
.search-wrapper::-webkit-scrollbar,
.docs-wrapper::-webkit-scrollbar,
.members-wrapper::-webkit-scrollbar {
	display: none;
}

.search-wrapper::-moz-scrollbar,
.docs-wrapper::-moz-scrollbar,
.members-wrapper::-moz-scrollbar {
	display: none;
}

.nav-heading {
	color: var(--FOOTER-COLOR);
}

.user-profile {
	position: relative;
	height: 3rem;
	width: 3rem;
	border: 1px solid var(--BORDER-LT-GRAY);
	border-radius: 10rem;
	background: var(--FILTER-LT-CREAM);
	display: grid;
	place-items: center;
	cursor: pointer;
}

.profile-initials {
	color: var(--FOOTER-COLOR);
}

/* ManageDocs.css */

.docs-wrapper {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
	text-align: center;
	font-family: Arial, sans-serif;
}

h2 {
	font-size: 28px;
	margin-bottom: 20px;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	width: 100%;
	margin-bottom: 20px;
	text-align: left;
}

label {
	font-weight: bold;
	font-size: 16px;
	color: #555;
}

input[type="file"],
input[type="text"],
textarea,
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	color: #444;
}

textarea {
	height: 120px;
}

.btn-send {
	background-color: var(--LINK-COLOR-GRAY);
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 12px 24px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Login Page */

.login-page {
	padding: 5rem 2.5rem;
	background: var(--BG-COLOR);
	width: 100%;
	height: 100vh;
}

.login-page h2 {
	font-size: 2.8rem;
	font-weight: 700;
}

.btn-sign-in {
	background: var(--WHITE);
	margin: 4rem auto;
	display: block;
	width: 28rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	color: var(--FOOTER-BG-COLOR);
	border: 2px solid;
}

.search-form {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* result card */

.result-card {
	display: flex;
	flex-direction: column;
	max-width: 36rem;
	width: 28rem;
	/* align-items: center; */
	padding: 1rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	gap: 1rem;
}

.result-card p {
	font-size: 1rem;
}

.result-card h3 {
	color: var(--FOOTER-BG-COLOR);
	font-size: 2rem;
}

.btn {
	padding: 1rem 2rem;
}

.result-card .btn-wrapper {
	width: 100%;
	display: flex;
	gap: 1rem;
	/* margin-top: 1rem; */
}

.result-card .btn-wrapper .btn {
	width: 100%;
	background: var(--FOOTER-COLOR);
}

.btn:hover {
	background-color: var(--FOOTER-BG-COLOR);
}

.result-card .btn-wrapper .btn:hover {
	background-color: var(--BORDER-LT-GRAY);
}

.result-card .meta-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result-card .category {
	background: var(--CTA-LT-ORANGE);
	padding: 6px;
}

.result-card .name {
	font-weight: bold;
}


.btn-upload-doc{
	padding: 1rem;
	border: none;
	border-radius: 6px;
	background: #0000FF;
	color: var(--BG-COLOR);
	cursor: pointer;
}